<h2>Make an appointment</h2>
<p>Here you can book an appointment to a barber</p>

<form action="/visit" method="POST">

  <div class="form-group">
    <label>Your name</label>
    <input name="username" type="text" class="form-control" placeholder="Enter your name" value="<%= @username %>">
  </div>

  <div class="form-group">
    <label>Your phone</label>
    <input name="phone" type="text" class="form-control" placeholder="Enter your phone" value="<%= @phone %>">
  </div>

  <div class="form-group">
    <label>Appointment date and time</label>
    <input name="date_time" type="text" class="form-control" placeholder="Enter date and time" value="<%= @date_time %>">
  </div>

   <div class="form-group">
    <label>Choose your barber:</label>
    <select name="barber" class="form-controll">
      <option <%= @barber == 'Jessie Pinkman' ? 'selected' : '' %>>Jessie Pinkman</option>
      <option <%= @barber == 'Walter White' ? 'selected' : '' %>>Walter White</option>
      <option <%= @barber == 'Gus Fring' ? 'selected' : '' %>>Gus Fring</option>
    </select>
  </div>

  <div class="form-group">
    <label>What color would you like to paint your hair:</label>
    <select id="color" name="color">
      <option value="#7bd148">Green</option>
      <option value="#5484ed">Bold blue</option>
      <option value="#a4bdfc">Blue</option>
      <option value="#46d6db">Turquoise</option>
      <option value="#7ae7bf">Light green</option>
      <option value="#51b749">Bold green</option>
      <option value="#fbd75b">Yellow</option>
      <option value="#ffb878">Orange</option>
      <option value="#ff887c">Red</option>
      <option value="#dc2127">Bold red</option>
      <option value="#dbadff">Purple</option>
      <option value="#e1e1e1">Gray</option>
    </select>
  </div>
  
  <button type="submit" class="btn btn-primary">Book an appointment</button>

</form>

<script type="text/javascript">

$(function(){

  $('#color').simplecolorpicker();

});

</script>